// Animations

@keyframes slide-in-left {
  from {
    transform: translateX(-30%);
    opacity: 10%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes slide-in-up {
  from {
    transform: translateY(5%);
    opacity: 10%;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fade-in-up {
  from {
    transform: translateY(20%);
    opacity: 0%;
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// Classes

.slide-left {
  animation: slide-in-left 1.5s ease;
}
.slide-up {
  animation: slide-in-up 1s ease;
}
.fade-in {
  animation: fade-in 3.5s ease;
}
.fade-in-slow {
  animation: fade-in-up 5s ease;
}
.rotate {
  animation: rotate 2s ease;
}
