@use "./colors" as *;

.btn {
  background-color: $primary-purple;
  color: #fff;
  min-width: 7.5rem;
  min-height: 2.8rem;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
    color: #000;
    outline: 1px solid black;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
